<th:block th:include="_communs/header.html"></th:block>

    <h1 class="alert alert-primary text-center">Formulaire</h1>

    <form method="post" th:action="${joueur.id} ? @{/joueur/{id}/modifier(id=${joueur.id})} : @{/joueur/ajouter}" th:object="${joueur}">
        <div class="form-group">
            <label for="nickname">Pseudo</label>
            <input type="text" th:field="*{nickname}" id="nickname" class="form-control">
        </div>
        <div class="form-group">
            <label for="email">E-mail</label>
            <input type="text" th:field="*{email}" id="email" class="form-control">
        </div>

        <div class="d-flex mt-3 justify-content-between">
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-save"></i><span th:text="${joueur.id}? ' Modifier ': ' Créer ' "></span>
            </button>
            <button type="reset" class="btn btn-warning">
                <i class="fa fa-eraser"></i> Effacer
            </button>
            <a th:href="@{/joueurs}" class="btn btn-danger">
                <i class="fa fa-reply"></i> Retour
            </a>
        </div>
    </form>

    <th:block th:include="_communs/footer.html"></th:block>