<th:block th:include="_communs/header.html"></th:block>

    <h1 class="alert alert-primary text-center">Fiche Jeu à supprimer</h1>
        <!-- <form method="post" th:action="@{/jeu/{id}/supprimer(id=${jeu.id})}" th:object="${jeu}"> -->
            <form method="post" th:object="${jeu}">
            <div class="form-group">
                <label for="title">Titre</label>
                <input type="text" th:field="*{title}" id="title" class="form-control">
            </div>
            <div class="form-group">
                <label for="min">Min joueur</label>
                <input type="text" th:field="*{min}" id="min" class="form-control">

                <label for="min">Max joueur</label>
                <input type="text" th:field="*{max}" id="max" class="form-control">
            </div>
    
            <div class="d-flex mt-3 justify-content-between">
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-save"></i> Supprimer

                    </button>
            </div>
        </form>
    <!-- Afficher les informations du joueur -->

    <th:block th:include="_communs/footer.html"></th:block>