<th:block th:include="_communs/header.html"></th:block>


<h1 class="alert alert-primary text-center">Supprimer des participants</h1>

<form method="post" th:object="${partie}">
  <p>Supprimer des participants pour la partie de <em th:text="*{game}"></em> qui s'est déroulée le <span th:text="*{startDate}"></span></p>

    <div class="form-group">
        <label for="joueur_id">Supprimer un participant:</label>
        <select name="joueur_id" id="joueur_id" class="form-control">
            <option value=""></option>
            <!-- th:value = c'est la valeur que je vais envoyer dans mon formulaire qui attend un game_id donc on met ${jeu.id} -->
            <option th:each="participant : ${participants}" th:text="${participant.nickname}" th:value="${participant.id}"></option>
        </select>
    </div>



    <div class="d-flex mt-3 justify-content-between">
        <button type="submit" class="btn btn-primary">
            <i class="fa fa-save"></i> Supprimer participant
        </button>
        <button type="reset" class="btn btn-warning">
            <i class="fa fa-eraser"></i> Effacer
        </button>
        <a th:href="@{/parties}" class="btn btn-danger">
            <i class="fa fa-reply"></i> Annuler
        </a>
    </div>
</form>

<th:block th:include="_communs/footer.html"></th:block>